<div class="wrapper">
<p id="thank-you"><%= t('thanks') %></p>
<p id="t-success"><%= t('success_html') %> <br>pour envoyer une autre, retournez &agrave; <%= link_to t('back') , root_path %> </p>
</div>
