@import 'variables' ;

.wrapper-phone{
  width:300px;
  font-family: "Untitled Sans";
  color: $mycolor;
  margin: 0 auto;
  margin-top: 40px;
  height: 100%;

}

.wrapper-phone-about{
  width:300px;
  font-family: "Untitled Sans";
  color: $mycolor;
  margin: 0 auto;
  margin-top: 30px;

}

.form-phone{
  margin-top: 70px;
}

.bottom-phone{
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  width: 250px;
  font-family: "Untitled Sans";
  text-transform: uppercase;
  font-size: 14px;

}

.illustration-phone{
  width: 25px;
}

////
.about-section-phone{
  font-size: 14px;
}

.abouttile-phone{
  font-size: 17px;
}
.bpa-cont {
  display: grid;
  justify-items: center;
}

.bottom-phone-about{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: "Untitled Sans";
  text-transform: uppercase;
  font-size: 14px;
  bottom: 0;
  padding-bottom: 25px;
  position: fixed;
background-color: $myblack;
left: 0;

}

.about-section-phone{
  font-size: 14px;
}

.abouttile-phone{
  font-size: 17px;
}

.up-phone{
  margin-top: 80px;
}

.faq-phone{
  margin-top: 30px;
  padding-bottom: 100px;
  font-size: 14px;

}

.copyr-phone{
  width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    p{ font-family: 'UntitledSans' , sans-serif;
    font-size: 7pt;
    color: $mycolor;
    opacity: .7;
    text-align: center;


}};
